.intro-section {
  height: 90vh;
  width: 90%; /* Set the width to 60% */
  margin: 0 auto; /* Center the element */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  .overlay {
    position: absolute;
    top: 10%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 60%;
  }
  
  .cta-button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
  }
  